<% html_type = local_assigns[:html_type].nil? ? "text" : local_assigns[:html_type] %>
<label for="<%= local_assigns[:id] %>" class="block text-sm font-medium leading-5 text-gray-700">
  <%= local_assigns[:label] %>
</label>
<div class="mt-1 rounded-md shadow-sm">
  <input id="<%= local_assigns[:id] %>" name="<%= local_assigns[:name] %>" type="<%= html_type %>" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"/>
</div>