<div>
  <h2 class="text-3xl mb-12">
    Hendelser fra kalender <%= @calendar_name %>
  </h2>

  <ul>
    <% @event_list&.each do |event| %>
      <li class="mb-6">
        <details>
          <summary>
              <strong><%= event.summary %></strong> (<%= event.start&.date_time || event.start&.date %>)
          </summary>
          <div class="my-4">
            <a class="bg-blue-500 p-2 rounded-md text-white" href="<%= new_gcal_event_path event_id: event.id %>">Ny event</a>
          </div>
          <%= debug event %>

        </details>
      </li>
    <% end %>
  </ul>

</div>
